.dark-button {
    background-color: #e95420;
    color: rgb(36, 36, 36);
    border: 2px solid rgb(68, 68, 68);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
}

.dark-button:hover {
    background-color: #e97146;
}

.dark-button:active {
    background-color: rgb(247, 166, 67);
}