html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.error {
    background-color: brown;
    font-size: 1.5rem;
    font-family: 'Liberation Mono', monospace;
}