html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.expression-form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expression {
    width: 100%;
    height: 75%;
    margin-bottom: 5%;
    color: rgb(196, 196, 193);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.mixed-number {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
}

.sign-area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.minus-label--disabled {
    color: rgb(77, 77, 77);
}

.minus-label--enabled {
    color: rgb(196, 196, 193);
}

.whole-part {
    font-size: 5rem !important;
}

.numerator {
    border-bottom: 5px solid rgb(196, 193, 193) !important;
}

.fractional-part {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.dark-input {
    color: rgb(196, 196, 193);
    background-color: rgb(36, 36, 36);
    border: 3px solid rgb(68, 68, 68);
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.operations-list {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-size: xx-large;
    text-align: center;
}

.operations-list label {
    user-select: none;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.btn-solve {
    padding: 5px 30px 5px 30px;
}