html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    color: rgb(196, 196, 193);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-result {
    font-size: 4rem;
    font-family: 'Liberation Sans', sans-serif;
}

.fractional-result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign {
    font-size: 3rem;
    font-weight: bold;
}

.whole-part {
    font-size: 8rem;
}

.fractional-part {
    font-size: 4rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

.numerator {
    border-bottom: 3px solid rgb(196, 196, 193);
}

.btn-go-back {
    padding: 0 10px 0 10px;
}